In [34]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_csv("./clean/generation_data.csv")

In [9]:
df.dtypes

year                                  int64
month                                object
net_utility_generation                int64
est_distributed_generation           object
utility_generation                    int64
independent_generation               object
commercial_utility_generation         int64
commercial_distributed_generation     int64
industrial_utility_generation        object
industrial_distributed_generation     int64
residential_generation                int64
summer_capacity_utility              object
summer_capacity_distributed          object
summer_capacity_residential          object
summer_capacity_commercial           object
summer_capacity_industrial           object
dtype: object

## fix datatypes

In [18]:
def remove_commas(string):
    return string.replace(",","")

In [28]:
df["est_distributed_generation"].dtype == "O"

True

In [21]:
pd.to_numeric(df["est_distributed_generation"].apply(remove_commas))

0      624
1      664
2      907
3      988
4     1092
      ...
62    2968
63    3309
64    3582
65    3638
66    3799
Name: est_distributed_generation, Length: 67, dtype: int64

In [30]:
for column in df.columns:
    if df[column].dtype == "O":
        try:
            df[column] = pd.to_numeric(df[column].apply(remove_commas))
        except:
            continue

In [31]:
df.dtypes

year                                   int64
month                                 object
net_utility_generation                 int64
est_distributed_generation             int64
utility_generation                     int64
independent_generation                 int64
commercial_utility_generation          int64
commercial_distributed_generation      int64
industrial_utility_generation         object
industrial_distributed_generation      int64
residential_generation                 int64
summer_capacity_utility              float64
summer_capacity_distributed          float64
summer_capacity_residential          float64
summer_capacity_commercial           float64
summer_capacity_industrial           float64
dtype: object

In [44]:
df["industrial_utility_generation"]=pd.to_numeric(df["industrial_utility_generation"].replace("NM", np.nan, regex=False))

In [45]:
df.dtypes

year                                   int64
month                                 object
net_utility_generation                 int64
est_distributed_generation             int64
utility_generation                     int64
independent_generation                 int64
commercial_utility_generation          int64
commercial_distributed_generation      int64
industrial_utility_generation        float64
industrial_distributed_generation      int64
residential_generation                 int64
summer_capacity_utility              float64
summer_capacity_distributed          float64
summer_capacity_residential          float64
summer_capacity_commercial           float64
summer_capacity_industrial           float64
dtype: object

In [46]:
df.head()

,year,month,net_utility_generation,est_distributed_generation,utility_generation,independent_generation,commercial_utility_generation,commercial_distributed_generation,industrial_utility_generation,industrial_distributed_generation,residential_generation,summer_capacity_utility,summer_capacity_distributed,summer_capacity_residential,summer_capacity_commercial,summer_capacity_industrial
0,2014,January,697,624,53,681,16,300,1.0,62,263,5688.0,5612.6,2285.2,2766.5,561.0
1,2014,February,752,664,61,753,20,322,1.0,65,277,5839.2,5728.2,2354.4,2804.9,568.9
2,2014,March,1135,907,91,1196,29,432,1.0,93,382,5967.9,5853.0,2428.2,2848.7,576.2
3,2014,April,1261,988,98,1355,33,467,2.0,101,421,6188.0,5978.9,2506.9,2883.8,588.2
4,2014,May,1457,1092,114,1596,38,512,2.0,111,468,6368.8,6111.6,2588.3,2930.2,593.0

In [66]:
df.to_csv("./clean/cleaned_generation_data.csv", index=False)