In [1]:
import pandas as pd
import numpy as np

In [6]:
new_gen_units = pd.read_csv("./clean/new_generating_units.csv")
new_gen_units.head()

,Year,Month,Entity ID,Entity Name,Plant Producer Type,Plant Name,Plant State,Plant ID,Generator ID,\nNet Summer Capacity (MW),Technology,Energy Source Code,Prime Mover Code
0,2016,1,40577,"American Mun Power-Ohio, Inc",Electric Utility,Cannelton Hydroelectric Plant,KY,57399,CG1,29.3,Conventional Hydroelectric,WAT,HY
1,2016,1,40577,"American Mun Power-Ohio, Inc",Electric Utility,Willow Island Hydroelectric Plant,WV,57401,WIG1,22,Conventional Hydroelectric,WAT,HY
2,2016,1,59247,Bearford Solar II LLC,IPP,Bearford Solar II,NC,59488,BEARF,4.9,Solar Photovoltaic,SUN,PV
3,2016,1,58562,"Blueberry One, LLC",IPP,Blueberry One,NC,58605,PV1,5,Solar Photovoltaic,SUN,PV
4,2016,1,59858,Chei Solar LLC,IPP,Chei Solar,NC,59508,PV1,5,Solar Photovoltaic,SUN,PV

In [12]:
new_gen_units.duplicated().sum()

0

In [14]:
new_gen_units.isnull().sum()

Year                          0
Month                         0
Entity ID                     0
Entity Name                   4
Plant Producer Type           0
Plant Name                    0
Plant State                   0
Plant ID                      0
Generator ID                  0
\nNet Summer Capacity (MW)    0
Technology                    0
Energy Source Code            0
Prime Mover Code              0
dtype: int64

In [27]:
new_gen_units[new_gen_units["Technology"]=="Solar Photovoltaic"].sort_values("Year").head()

,Year,Month,Entity ID,Entity Name,Plant Producer Type,Plant Name,Plant State,Plant ID,Generator ID,\nNet Summer Capacity (MW),Technology,Energy Source Code,Prime Mover Code
2,2016,1,59247,Bearford Solar II LLC,IPP,Bearford Solar II,NC,59488,BEARF,4.9,Solar Photovoltaic,SUN,PV
307,2016,8,56769,Consolidated Edison Development Inc.,IPP,"CED Westfield Solar, LLC",MA,60274,WFMA,2,Solar Photovoltaic,SUN,PV
308,2016,8,56769,Consolidated Edison Development Inc.,IPP,OCI Alamo 7 LLC,TX,59207,OCIA7,100,Solar Photovoltaic,SUN,PV
310,2016,8,4254,Consumers Energy Co,Electric Utility,Western Michigan Solar Gardens,MI,60117,1,1,Solar Photovoltaic,SUN,PV
311,2016,8,58468,Dominion Renewable Energy,IPP,"Escalante Solar I, LLC",UT,59387,ESCS1,80,Solar Photovoltaic,SUN,PV

In [18]:
files = ["new_generating_units", "planned_generating_additions", "planned_generating_retirements", "retired_generating_units"]

In [25]:
def extract_pv_generating_units(filename):
    #read in file
    df = pd.read_csv(f"./clean/{filename}.csv")
    
    #print duplicate rows and number null values
    df.drop_duplicates(inplace=True)
    print("dupes", df.duplicated().sum())
    print("nulls", df.isnull().sum())
    
    #return PV rows
    new_filename = f"./clean/cleaned_{filename}.csv"
    df = df[df["Technology"]=="Solor Photovoltaic"].sort_values("Year")
    df.to_csv(new_filename)

In [26]:
for file in files:
    extract_pv_generating_units(file)

dupes 0
nulls Year                          0
Month                         0
Entity ID                     0
Entity Name                   4
Plant Producer Type           0
Plant Name                    0
Plant State                   0
Plant ID                      0
Generator ID                  0
\nNet Summer Capacity (MW)    0
Technology                    0
Energy Source Code            0
Prime Mover Code              0
dtype: int64
dupes 0
nulls Year                          0
Month                         0
Entity ID                     0
Entity Name                   0
Plant Producer Type           0
Plant Name                    0
Plant State                   0
Plant ID                      0
Generator ID                  2
\nNet Summer Capacity (MW)    0
Technology                    0
Energy Source Code            0
Prime Mover Code              0
Status                        0
\nNameplate Capacity (MW)     0
dtype: int64
dupes 0
nulls Year                          0
Month                         0
Entity ID                     0
Entity Name                   0
Plant Producer Type           0
Plant Name                    0
Plant State                   0
Plant ID                      0
Generator ID                  0
\nNet Summer Capacity (MW)    0
Technology                    0
Energy Source Code            0
Prime Mover Code              0
dtype: int64
dupes 0
nulls Year                          0
Month                         0
Entity ID                     0
Entity Name                   0
Plant Producer Type           0
Plant Name                    0
Plant State                   0
Plant ID                      0
Generator ID                  0
\nNet Summer Capacity (MW)    0
Technology                    0
Energy Source Code            0
Prime Mover Code              0
dtype: int64